@page
@model ContosoAds.Web.Pages.About

@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <p>
            Contoso Ads on Containers is a modernized version of the original <a href="https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started">Contoso Ads sample app for Azure Cloud Services</a>
            and <a href="https://docs.microsoft.com/en-us/azure/app-service-web/websites-dotnet-webjobs-sdk-get-started">Azure WebJobs</a>.

            The web application has been rebuilt with <a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-7.0&tabs=visual-studio-code">ASP.NET Core Razor Pages 7.0</a>,
            <a href="https://docs.microsoft.com/en-us/ef/core/">Entity Framework Core 7.0</a>, and <a href="https://dapr.io">Dapr</a> to run on <a href="https://azure.microsoft.com/en-us/services/container-apps/#overview">Azure Container Apps</a> .
            The application is implemented in <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/">C# 11</a>.
        </p>
        <p>
            This version uses <a href="https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/">Azure Database for PostgreSQL Flexible Server</a> and
            <a href="https://docs.microsoft.com/en-us/azure/storage/storage-introduction">Azure Storage</a> blobs and queues for persistence and lightweight messaging.
        </p>
        <p>
            Look and feel provided by <a href="http://www.getbootstrap.com">Bootstrap</a> and the <a href="https://bootswatch.com/materia/">Bootswatch Materia</a> theme.
        </p>
    </div>
</div>